appdirs==1.4.3
beautifulsoup4==4.5.3
bottlenose==1.1.2
bs4==0.0.1
dj-database-url==0.4.2
Django==1.10.6
lxml==3.7.3
oauthlib==2.0.2
packaging==16.8
PyJWT==1.4.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-openid==2.2.5
python-social-auth==0.3.6
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-core==1.2.0
whitenoise==3.3.0
xmltodict==0.10.2
