<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rent a Puppy</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/index.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Rent a Puppy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="/about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="/contact">Contact</a>
                </li>
                <li class="page-scroll">
                    <a href="/catalog">Catalog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <h1>Dog</h1>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ dog.name }}
                <small>{{ dog.breed }}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="../../{{ dog.image_src }}" style="margin:0 auto;" alt="">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="/about" class="btn btn-lg btn-outline" style="background-color:#18BC9C; width:100%;">
                        <i class="fa fa-book"></i> Rent Me!
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4>Age</h4>
            {{ dog.age }} years
            <h4>Gender</h4>
            {{ dog.get_gender_verbose }}
            <h4>Weight</h4>
            {{ dog.weight }} lb
            <h4>Location</h4>
            {{ dog.location }}
            <h4>Description</h4>
            <p>{{ dog.description }}</p>
            <h4>Tricks</h4>
            {% if dog.has_tricks %}
            <ul>
                {% for each_trick in tricks %}
                <li>{{ each_trick.trick_name }}</li>
                {% endfor %}

            </ul>
            {% else %}
                <ul>
                    <li>{{ dog.name }} hasn't learned any tricks yet. Teach {{ dog.get_gender_his_her }} one!</li>
                </ul>
            {% endif %}
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">
        {% if dog.has_pictures %}
            <div class="col-lg-12">
                <h3 class="page-header">More Pictures</h3>
            </div>

            {% for each_picture in dog.get_non_primary_pictures %}

            <div class="col-sm-3 col-xs-6">
                <a href="../../{{ each_picture.img_src }}">
                    <img class="img-responsive portfolio-item" src="../../{{ each_picture.img_src }}" alt="">
                </a>
            </div>

            {% endfor %}
        {% endif %}

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">People's Favorite thing about {{ dog.name }}...</h3>
        </div>
        <div class="col-lg-12">

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <hr>

            <!-- Comments Form -->
            <div class="well">
                <h4>What was your favorite thing about {{ dog.name }}?</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>
        </div>
    </div>
    <!-- /.row -->
</div>

<br>
<hr>


<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/about" class="btn btn-lg btn-outline" style="width:100%;">
                    <i class="fa fa-book"></i> Rent Me!
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>1234 North Street
                        <br>Fresno, CA 93720</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Rent a Puppy</h3>
                    <p>Rent a Puppy is a home for friends.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; RentaPuppy 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<!-- jQuery -->
<script src="../../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="../../static/js/jqBootstrapValidation.js"></script>
<script src="../../static/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="../../static/js/freelancer.min.js"></script>

</body>

</html>
