<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" style="z-index:999999;" class="brand-logo center">
                                            <img style="padding-top:5%; max-height:100px;" class='responsive-img' src="../static/img/pnglogo2.png">
{#            <h4 style="color: #ff6e66;">Fashionly</h4>#}
        </a>            <a href="/myCart"><i class="material-icons right" style="color:#ff6e66;">shopping_cart</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:black;" onClick="signOut()">Sign Out</a></li>
        </ul>

        <ul id="nav-mobile" style="z-index:99999999999999;" class="side-nav fixed">
            <li>
                {% if current_profile %}
                    <div class="col s12 center" style="margin-right:10px; margin-top:25px;">
                        <div class="col s3">
                            <img id="featuredProfileImgMain" style='height:150px; width:150px;' src="{{ current_profile.profile_image }}" alt="" class="circle responsive-img profile-post-uer-image">
                        </div>
                        <div class="col s5" style="word-wrap: break-word;">
                            {% if current_profile.user.username %}
                                <h5 class="white-text margin" style="margin-bottom:0;">{{ current_profile.user.username }}</h5>
                            {% endif %}
                            {% if current_profile.location %}
                                <span class="white-text ultra-small">{{ current_profile.location }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {#                    <a onClick="signInRegister()"><i class="material-icons left">power_settings_new</i>Sign In / Register</a>#}
                    <a onClick="$('.button-collapse').sideNav('hide');" style="width:80%; margin-top:5%; background-color:#2bbbad" class="waves-effect waves-light btn" href="#signInRegister"><i style="margin:0;" class="material-icons left">power_settings_new</i>Sign In / Register</a>
                    <br>
                {% endif %}
            </li>
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/addNew"><i class="material-icons left">note_add</i>Create Outfit</a></li>
            <li><a href="/user/{{ current_profile.pk }}"><i class="material-icons left">account_circle</i>My Account</a></li>
            <li><a href="/discover"><i class="material-icons left">find_in_page</i>Discover Outfits</a></li>
            <li><a href="/discover_clothing"><i class="material-icons left">whatshot</i>Discover Clothing</a></li>
            <li><a href="/myCart"><i class="material-icons left">shopping_cart</i>My Cart</a></li>
            <li><a href="/blog"><i class="material-icons left">local_library</i>Blog</a></li>
            {% if current_profile %}
                <li><a onClick="signOut()"><i class="material-icons left">power_settings_new</i>Sign Out</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons" style="color:#ff6e66;">menu</i></a>
    </div>
</nav>